<div id="<%= dom_id recipe_ingredient %>">
  <p>
    <strong>Recipe:</strong>
    <%= recipe_ingredient.recipe_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= recipe_ingredient.ingredient_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= recipe_ingredient.quantity %>
  </p>

</div>
